*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fbfbfb;
    padding: 70px 16px;
    font-family: "Roboto", sans-serif;
}

.blog-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-header button{
    border: none;
    background: #F3EBFF;
    border-radius: 16px;
    padding: 2px 10px;
    width: 106px;
    color: #6941C6;
    margin-bottom: 16px;
    font-weight: 600;
}

.blog-header h1{
    color: #42307D;
    font-size: 45px;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 16px;
}

.blog-header h2{
    color: #6941C6;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 343px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 10px 16px;
    gap: 10px;
    background-color: #FFFFFF;
    margin-bottom: 64px;
}

.search-bar input{
    width: 100%;
    border: none;
    background-color: transparent;
    color: #667085;
    outline: none;
}

.blog-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    width: 343px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.category{
    color: #6941C6;
    font-weight: 500;
}

.blog-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.about{
    color: #667085;
    font-size: 18px;
    margin-bottom: 40px;
}

.profile{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.text-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username{
    font-weight: 600;
}

.date{
    color: #667085;
    font-weight: 600;
}

@media(min-width:768px){
    body{
        padding: 96px 16px;
    }
    .blog-header{
        gap: 40px;
    }
    .search-bar{
        margin-bottom: 96px;
    }

    .first{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .second{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}
